
body {
    margin: 10rem;
    font-family:Arial, Helvetica, sans-serif
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}
.primary-navigation a {
    text-decoration: none;
}
@media (min-width: 35em){
    .primary-navigation {
        position: fixed;
        inset:0 0 0 10%;
        background: steelblue;
    }
}
.primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: 0.75em;
}
