/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 50px 0;
}

h1, h2 {
    color: #000;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.profile-picture img {
    width: 200px; /* Adjust the width as needed */
    height: auto;
    border-radius: 50%; /* Creates a circular shape */
    border: 2px solid #fff; /* Adds a white border */
}

