body {
    font-family: 'Arvo', serif;
    margin: 30px; /* Increased overall body margin */
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

h1, h2 {
    font-family: 'Arvo', serif;
    color: #222;
    margin-bottom: 0.7em; /* Slightly increased bottom margin for headings */
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 1.5em; /* Increased top margin for the main title */
    margin-bottom: 0.3em;
}

.subtitle {
    font-size: 1.1em;
    color: #555;
    text-align: center;
    margin-bottom: 2em; /* Increased bottom margin for the subtitle */
}

p, ul {
    font-size: 1em;
    color: #444;
    margin-bottom: 1.2em; /* Slightly increased bottom margin for paragraphs and lists */
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 0.6em; /* Slightly increased bottom margin for list items */
}

b { /* For the bold text in your list */
    font-weight: 700;
}
