/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* light gray background */
}

header {
    background-color: #333; /* dark gray header */
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease; /* smooth transition for link color */
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin from the last link to avoid extra spacing */
}

nav ul li a:hover {
    color: #ffcc00; /* yellow color on hover */
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the wrapper takes up at least the full height of the viewport */
}

.container {
    flex: 1; /* Allow the container to grow and take up remaining space */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}


section {
    padding: 50px 0;
}

h1, h2 {
    color: #333; /* dark gray headings */
}

.intro {
    float: left; /* Float the intro content to the left */
    width: 50%; /* Make the intro content take up 50% of the container width */
}

.profile-picture {
    float: right; /* Float the profile picture to the right */
    width: 50%; /* Make the profile picture take up 50% of the container width */
    text-align: center; /* Center the image horizontally */
}

.profile-picture img {
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    height: auto; /* Maintain aspect ratio */
}

